*~
log
*.log
*.out
tmp
/pkg/
/tmp/
*.gem
/.bundle/
/vendor/.bundle
/lib/bundle/man
*.project
/.project
output.png
/output/*.png
/experiment_output/**/*
/macro_experiment_output/**/*
output.txt
!*.keep
